<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Assertfail by wallymathieu</title>

    <link rel="stylesheet" href="/css/minimal/styles.css">
    <link rel="stylesheet" href="/css/minimal/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Assertfail</h1>
        <p></p>
        <p class="view"><a href="/">All Posts <small>assertfail</small></a></p>

        <p class="view"><a href="https://github.com/wallymathieu/wallymathieu.github.io">View the Blog on GitHub <small>wallymathieu</small></a></p>

        <ul>
          <li><a href="/about.html"><i class="fa fa-question"></i> About</a></li>
          <li><a href="/contact.html"><i class="fa fa-user"></i> Contact</a></li>
          <li><a href="/rss.xml"><i class="fa fa-rss"></i> Rss</a></li>
        </ul>

      </header>
      <section>
          {{ content }}
      </section>
      <footer>
        <p>This blog is maintained by <a href="https://github.com/wallymathieu">Oskar Gewalli</a></p>
      </footer>
    </div>
    <section></section>
    <script src="/js/minimal/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-47732907-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>