---
layout: minimal
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
{{ content }}
<h3>Tags</h3>
<ul class="tags">
{% for cat in page.tags %}
<li>{{ cat }}</li>
{% endfor %}
</ul>
<div class="comments">
  <hr>
  <h3>Comments</h3>
  <ul>
  {% for comment in page.comments %}
    <li class="comment">
      <b class="author">{{ comment.author }}</b>
      <div class="content">{{ comment.content | markdownify }}</div>
      <div class="date">{{ comment.date | date_to_string }}</div>
    </li>
  {% endfor %}
  </ul>
</div>
<p>
  Do you want to send a comment or give me a hint about any issues with a blog post: <a href="https://github.com/wallymathieu/assertfail/issues/new">Open up an issue on GitHub</a>.
</p>
<p>
  Do you want to fix an error or add a comment published on the blog? You can do a
  <a href="https://github.com/wallymathieu/wallymathieu.github.io/tree/master/{{page.path}}">fork of this post and do a pull request on github</a>.
</p>